.box {
    margin: 0 auto;
    position: relative;
    width: 500px;
    height: 500px;
}

#greeting {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: pink;
}

span {
    position: absolute;
    top: 0px;
}